div.infoW {
  font-size: 20px;
  line-height: 1.2em;
  }

div.infoW > div > div  {
  font-size: 14px;
  padding-top: 10px;
    line-height: 1.1em;
}

div.infoW > div :nth-child(odd)  {
  font-size: 14px;
  padding-top: 5px;
}

div.infoW > div :nth-child(even)  {
  font-size: 14px;
  padding-top: 5px;
}

.markerLabel  {
font-weight: bold;
color: #FFB421;
}

.groupItem {
padding-top: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding-bottom: 20px;
}

.groupList :nth-child(1) {
padding-top: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
color: #FFB421;
}

#filtersTable tbody tr:first-child td {
  color: #FAB83C;
 font-weight: bold;
}

#filtersTable tbody > tr > td :nth-child(1) {
  color: black;
 font-weight: normal;
}
