div.infoW {
  font-size: 20px;
  }

div.infoW > div > div  {
  font-size: 14px;
  padding-top: 10px;
}

.markerLabel  {
font-weight: bold;
color: #FFB421;
}

.groupItem {
padding-top: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
